<div class="container">
  <h2>Lista de Insumos</h2>
  <div class="rounded-2 overflow-hidden">
    <table class="table table-dark table-striped mb-0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Unidade</th>
        </tr>
      </thead>
      <tbody>
        @if (insumos$ | async; as listaInsumos) {
          @if (listaInsumos.length > 0) {
            @for (insumo of listaInsumos; track insumo.id) {
              <tr>
                <td>{{ insumo.nome }}</td>
                <td>{{ insumo.quantidade }}</td>
                <td>{{ insumo.unidade }}</td>
              </tr>
            }
          }
          @else {
            <tr>
              <td colspan="3" class="empty-message text-center py-4">
                Sem dados para exibição
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
