<nav class="sidebar">
    <img src="/images/logo2.png" class="image-fluid rounded-3" width="210px" height="65px" alt="logo"/>
    <hr>
    <ul class="menu">
        <li>
            <a routerLink="/home"><span class="material-symbols-outlined">cottage</span>&nbsp;Home</a>
        </li>
        <li>
            <a routerLink="/insumos"><span class="material-symbols-outlined">faucet</span>&nbsp;Insumos</a>
        </li>
        <li>
            <a routerLink="/quimicos"><span class="material-symbols-outlined">experiment</span>&nbsp;Químicos</a>
        </li>
    </ul>
</nav>