.btn-Voltar{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-Voltar:hover{
    background-color: green;
    color: whitesmoke;
    cursor: pointer;
}

.divFormMovimentacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}

.divAddMovimentacao{
display: flex;
flex-direction: column;
justify-content: space-between;
}
